<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="edit_page">
        <div class="edit">
            <p class="id">Post ID : <%= post.id %></p>
            <h3 class="username">Username : @<%= post.username %></h3>
    
            <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
                <textarea rows="10" cols="30" name="content"><%= post.content %></textarea>
                <br>
                <button>submit</button>
            </form>
        </div>
    </div>
</body>
</html>