<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form">
        <form action="/posts" method="post">
            <div>
                <input type="text" name="username" placeholder="Enter username"> <br><br>
                <textarea name="content" placeholder="Enter content" cols="35" rows="10"></textarea> <br>
                <button>submit post</button>
            </div>
        </form>
    </div>
</body>
</html>