<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="ditails_page">
     <div class="ditails">
        <h1>Hare is details of our page!</h1>
    <p class="id">User ID : <%= post.id %></p>
       <div class="post">
        <h3 class="username"> Username : @<%= post.username %></h3>
        <h4 class="content"> Thoughts : <%= post.content %></h4>
       </div>
     </div>
    </div>
</body> 
</html>